<!DOCTYPE html>
<html lang="en">
<head>
   
 <%- include('./partials/head.ejs')%>
</head>
<body>
    <div class="container-edit">
    <h1>Edit Post</h1>
    <div class="card-edit">
    <form action="/blogs/<%=blog._id%>?_method=PUT" method="POST">
        Title: <input type="text" name="title" value="<%= blog.title%>" /><br />
        <br>
        Image: <input type="text" name="img" value="<%= blog.img%>"/><br />
        <br>

        Description: <input type="textarea" name="description" value="<%= blog.description%>" /><br />
        <br>
        
        Body: <input class="text-body" type="textarea" name="body" value="<%= blog.body%>" /><br />
        <br>

        Topic: <input type="text" name="topic" value="<%= blog.topic%>"/><br />
        <br>

        Duration: <input type="number" name="duration" value="<%= blog.topic%>"/><br />
        <br />
        <br>

        Author: <input type="text" name="author" value="<%= blog.author%>"/><br />
        <br />
        <br>

        <input type="submit" value="Submit Changes" />
      </form>
    </div>

    </div>
    <br>
    <br>
    <br>

 <%- include('./partials/footer.ejs')%>
</body>
</html>