<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
</head>
<body>
    <h1>Edit Post</h1>
    <form action="/blogs/<%=blog._id%>?_method=PUT" method="POST">
        Title: <input type="text" name="name" value="<%= blog.title%>" /><br />
        <br>
        Image: <input type="text" name="img" value="<%= blog.img%>"/><br />
        <br>

        Description: <input type="textarea" name="description" value="<%= blog.description%>" /><br />
        <br>

        Body: <input type="textarea" name="body" value="<%= blog.body%>" /><br />
        <br>

        Topic: <input type="text" name="topic" value="<%= blog.topic%>"/><br />
        <br>

        Duration: <input type="number" name="duration" value="<%= blog.topic%>"/><br />
        <br />
        <br>

        Author: <input type="text" name="author" value="<%= blog.author%>"/><br />
        <br />
        <br>
        
        <input type="submit" value="Submit Changes" />
      </form>
</body>
</html>