<!DOCTYPE html>
<html lang="en">
    <head>
       
 <%- include('./partials/head.ejs')%>
    </head>
<body>
    <h1 style="text-align: center;">The Daily Optimist</h1>
    
    
    <br>
<nav>
    <button type="button" class="btn btn-warning"><a href="/blogs/new">+</a></button>
</nav>
    
            <div class="container">      
                   
            <% blogs.forEach(blog => { %>
                <div class="card">
              <a href="/blogs/<%=blog._id %>"><h2><%=blog.title%></h2></a>
                <a href="/blogs/<%=blog._id %>"> 
                    <img src=<%=blog.img%>/></a>
                <p> <%=blog.description%>...</p>     
                <div><p class="topic"> <%=blog.topic%></p>  
                <p class="duration"> <%=blog.duration%> min read</p></div>
                <p> - <%=blog.author%></p>    
                ---------------------------------------------------------       
                </div>
            <% }) %>
                 
         </div>

 <%- include('./partials/footer.ejs')%>
</body>
</html>