<!DOCTYPE html>
<html lang="en">
    <head>
       
 <%- include('./partials/head.ejs')%>
    </head>
<body>
    <!-- <h1 style="text-align: center;">The Daily Optimist</h1> -->
    
    
    <br>
<!-- <nav>
    <button type="button" class="btn btn-warning"><a href="/new">Add Post</a></button>
</nav> -->
<nav class="navbar fixed-top navbar-light bg-light">
  <br>
    <button class="btn btn-secondary" type="button" ><a href="/new"><span class="glyphicon">&#x270f;</span></a></button>
    <h1 class="main-heading" style="text-align: center;">The Daily Optimist </h1> <br>
    <h5 class="register"> Register/Login</h5><br>
    <input type="search" name="search" placeholder="Search..">
  </nav>
    <!-- <button type="button" class="btn btn-warning"><a href="/new">Add Post</a></button> -->
   
    
  </div>

            <div class="container-sm">      
               
            <% blogs.forEach(blog => { %>
                <div class="card">
              <a href="/blogs/<%=blog._id %>"><h2><%=blog.title%> </h2></a>
              <br>
                <a href="/blogs/<%=blog._id %>"> 
                    <img src=<%=blog.img%>/></a>
                    <br>
                <p> <%=blog.description%>...</p>     
                <div><p class="topic"> <%=blog.topic%></p>  
                <p class="duration"> <%=blog.duration%> min read</p></div>
                <p class="author"> - <%=blog.author%></p>    
                  ==========================================================
                </div>
            <% }) %>
                 
         </div>

 <%- include('./partials/footer.ejs')%>


</body>

</html>
