<!DOCTYPE html>
<html lang="en">
<head>
   
 <%- include('./partials/head.ejs')%>
</head>
<body>
    <nav>
        <button><a href="/">Back to Main Page</a></button>
    </nav>
    <div class="container">
    <div class="show-card">
        <h1>
            <%= blog.title%>
        </h1>
        <img class="show-img" src=<%=blog.img%>/>
        <p>Description: <%= blog.description%>
        </p>
        <p><%= blog.body%></p>
        <p> - <%= blog.author%></p>


        <button class="edit-btn"><a href="/blogs/<%=blog._id %>/edit">Edit</a></button>
        <br>
        <br>

        <section>
            <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete Post" />
            </form>
        </section>
        </div>
       <br>
       <br>
 <%- include('./partials/footer.ejs')%>
</body>
</html>